
.App {
  margin-top: 15px;
}

.App .nav {
  font-weight: bold;
  text-align: end;
}

.App .logout {
  background-color: #ff9900;
  position: relative;
  align-items: center;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

.App .link {
  text-align: center;
}

.App .Login {
  position: relative;
  align-items: center;
  width: span(8);
  margin: 150px;
  border: 3px solid #f1f1f1;

  label {
    display: block;
  }
}

.App .Login .error {
  font-weight: 500;
  color: color(red);
}

.App .Login Button {
  background-color: #ff9900;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

