.base {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: stretch;
}

.rest {
  display: flex;
  flex-direction: row;
  flex: 1 1 0px;
  align-items: stretch;
  overflow: hidden;
  position: relative;
}

.rest > * {
  flex: 1;
}


.floaty {
  position: absolute;
  z-index: 4;
}


@media print {
  .rest {
    position: static;
    flex: 0 0 auto;
    overflow: auto;
  }
}
